.technology {
    display: flex;
    flex-wrap: wrap;
}
.technology span {
    background: #4b5769;
    color: white;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 3px;
    padding: 3px 10px;
    font-size: 13px;
    height: 26px;
    text-transform: uppercase;
    border: 1px solid #64ffda;
}